@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-wrap justify-content-center my-5 gap-5">

    <div class="subapp-item" link="/Angajati">
        <div>
            <i class="bi bi-people-fill"></i>
        </div>
        <div>
            <div>Gestionare <br /> angajați</div>
        </div>
    </div>

    <div class="subapp-item" link="/Masini">
        <div>
            <i class="bi bi-car-front-fill"></i>
        </div>
        <div>
            <div>Gestionare <br/> mașini</div>
        </div>
    </div>

    <div class="subapp-item" link="/Deplasari">
        <div>
            <i class="bi bi-sign-turn-right-fill"></i>
        </div>
        <div>
            <div>Gestionare <br /> deplasări</div>
        </div>
    </div>

</div>
